@import 'styles/style.module.scss';

.bar {
  background-color: $todo;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  position: relative;
  width: 100%;

  &.done {
    background-color: $done;
  }

  &.current {
    background-color: $current;
  }

  &.pivot {
    background-color: $pivot;
  }

  .number {
    color: $primary-light;
    margin: auto;
    text-align: center;
    text-orientation: upright;
    transform: scaleY(-1);
    writing-mode: vertical-lr;
    z-index: 10;

    &.dark {
      color: $primary;
      margin: 0 auto;
      position: relative;
      top: 100%;
      writing-mode: horizontal-tb;
    }
  }
}
