@import 'styles/style.module.scss';

.tile {
  background-color: $todo;
  min-height: 18px;
  width: 100%;

  &.done {
    background-color: $done;
  }

  &.current {
    background-color: $current;
  }

  &.pivot {
    background-color: $pivot;
  }
}
