@import '../../styles/style.module.scss';

.tile {
  background-color: $primary;
  width: 100%;
  height: 10px;
  &.done {
    background-color: $done;
  }
  &.current {
    background-color: $current;
  }
  &.pivot {
    background-color: $pivot;
  }
}
